
		<% content_for :head do %>
				<meta charset="utf-8">
				<meta name="viewport" content="width=device-width, initial-scale=1.0">
				<meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
				<meta name="author" content="Coderthemes">

				<link rel="shortcut icon" href="assets/images/favicon_1.ico">

				<title>Ubold - Responsive Admin Dashboard Template</title>

		<link href="assets/plugins/bootstrap-table/dist/bootstrap-table.min.css" rel="stylesheet" type="text/css" />
				<link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
				<link href="assets/css/core.css" rel="stylesheet" type="text/css" />
				<link href="assets/css/components.css" rel="stylesheet" type="text/css" />
				<link href="assets/css/icons.css" rel="stylesheet" type="text/css" />
				<link href="assets/css/pages.css" rel="stylesheet" type="text/css" />
				<link href="assets/css/responsive.css" rel="stylesheet" type="text/css" />

				<!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
				<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
				<!--[if lt IE 9]>
						<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
						<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
				<![endif]-->

				<script src="assets/js/modernizr.min.js"></script>


		<%end%>

		

				<!-- Begin page -->
			<div class="row">
														<div class="col-sm-12">
																<h4 class="page-title">Blank Page</h4>
																<ol class="breadcrumb">
																		<li>
																				<a href="#">Ubold</a>
																		</li>
																		<li>
																				<a href="#">Pages</a>
																		</li>
																		<li class="active">
																				Blank Page
																		</li>
																</ol>
														</div>
												</div>

												<div class="card-box">
														<h4 class="header-title m-t-0"><b>Subject title</b></h4>
														<p class="text-muted m-b-30 font-13">Subject description</p>
														<div class="portlet">
																<div class="portlet-heading portlet-default">
																		<h3 class="portlet-title text-dark">
																				Default Heading Attemps: 3 | Overall average: 80%
																		</h3>
																																				<div class="portlet-widgets">
																				<a href="javascript:;" data-toggle="reload"><i class="ion-refresh"></i></a>
																				<span class="divider"></span>
																				<a data-toggle="collapse" data-parent="#accordion1" href="#bg-default" class="collapsed" aria-expanded="false">details</a>
																				<span class="divider"></span>

																		</div>
																		<div class="clearfix"></div>
																</div>
																<div id="bg-default" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
																		<div class="portlet-body">
																	   <table data-toggle="table"
										   data-sort-name="id"
										   data-page-list="[5, 10, 20]"
										   data-page-size="5"
										   data-pagination="true" data-show-pagination-switch="true" class="table-bordered ">
										<thead>
											<tr>
												<th data-field="id" data-sortable="true" data-formatter="invoiceFormatter">Order ID</th>
												<th data-field="name" data-sortable="true">Name</th>
												<th data-field="date" data-sortable="true" data-formatter="dateFormatter">Order date</th>
												<th data-field="amount" data-align="center" data-sortable="true" data-sorter="priceSorter">Price</th>
												<th data-field="status" data-align="center" data-sortable="true" data-formatter="statusFormatter">Status</th>
											</tr>
										</thead>
										
										<tbody>
											<tr>
												<td>UB-1609</td>
												<td>Boudreaux</td>
												<td>22 Jun 2015</td>
												<td>$ 35.00</td>
												<td><span class="label label-table label-warning">Incomplete</span></td>
											</tr>
											<tr>
												<td>UB-1610</td>
												<td>Woldt</td>
												<td>24 Jun 2015</td>
												<td>$ 15.00</td>
												<td><span class="label label-table label-success">Complete</span></td>
											</tr>
											
											<tr>
												<td>UB-1611</td>
												<td>Leonardo</td>
												<td>25 Jun 2015</td>
												<td>$ 35.00</td>
												<td><span class="label label-table label-success">Complete</span></td>
											</tr>
											
										
										</tbody>
									</table> 
																		</div>

																</div>

														</div>

												</div>

