 <div class="account-pages" style="background: image-url('agsquare.png')"></div>
        <div class="clearfix"></div>
        <div class="wrapper-page">
        <div class="container-c">
<div class="card-box col-sm-8">
<div class="text-center">
<h5>Made by Switch in 2017</h5>
<p>Github account: <a href="https://github.com/switchgirl95">https://github.com/switchgirl95</a></p>
<p>email: <a href="">a.fokunang@gmail.com</a></p>
</div>
</div>
</div>
</div></div> 