<div class="account-pages" style="background: image-url('agsquare.png')"></div>
        <div class="clearfix"></div>
        <div class="wrapper-page">
        <div class="container-c">
<div class="card-box col-sm-8">
<div class="text-center">
<p>Are you a </p>
<a href="/teachers/new" class="btn btn-lg btn-primary">Teacher</a>
<p>or a</p>
<a href="/students/new" class="btn btn-lg btn-primary">Student</a>

</div>
</div>
</div>
</div></div> 