.autoExpand {
  width:95%;
  display:block;
  
  overflow:hidden;

  padding:5px;
  
  
 
  border-radius:6px;
  
  background-color: #FFFFFF;
border: 1px solid #E3E3E3;
border-radius: 4px;
color: #565656;
padding: 7px 12px;

max-width: 100%;

box-shadow: none;

transition: all 300ms linear;
}

.x {
    position: absolute;
    right: 10px;
    top: 5px;
}
